<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body style="background-image:url(<%= backgroundimage %>)" >
  
    <h1 style='color:<%= color %>; background-color: <%= backgroundcolor %>;font-family: "Italiana", regular; font-size: 36px;  font-size: 100%; text-align: center;'><%= route %> <%= error %></h1>
    <h2 style='color:<%= color %>; background-color: <%= backgroundcolor %>;font-family: "Italiana", regular; font-size: 36px;  font-size: 100%; text-align: center;'><%= error.status %></h2>
</body>
</html>

